@import '../../styles/variables';

.left-nav__container {
    min-width: 300px;
    max-width: 300px;
    margin-right: 32px;
    border-right: 1px solid $gray-dark;;
    padding-top: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
}

.left-nav__link {
    margin-bottom: 15px;
    text-decoration: none;
    color: $gray-dark;
    font-size: 18px;
    transition: .2s ease;

    &:hover {
        color: $tango;
    }
}

.left-nav__link--active {
    color: $tango;
}

.left-nav__title {
    color: $gray-dark;
}