@import '../../styles/variables';

.left-nav__container {
    // position sticky does not work in all browsers so some browsers will not see the sticky behavior
    position: sticky;
    top: 32px;
    align-self: flex-start;
    min-width: 200px;
    max-width: 200px;
    padding-right: 32px;
    overflow: hidden;
    transition: .2s ease-in-out;

    /* mobile */
    @media only screen and (max-width : $screen-md - 1) {
        position: fixed;
        height: 100%;
        min-width: 0;
        max-width: 0;
        padding: 0;
        top: 0;
        left: 0;
        background: $gray-lightest;
        z-index: 1;
        white-space: nowrap;
    }
}

.left-nav__container--open {
    /* mobile */
    @media only screen and (max-width : $screen-md - 1) {
        display: flex;
        min-width: 85%;
        max-width: 85%;
    }
}

.left-nav__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    /* mobile */
    @media only screen and (max-width : $screen-md - 1) {
        padding: 24px;
    }
}

.left-nav__close {
    display: none;
    cursor: pointer;
    color: $gray-dark;

    /* mobile */
    @media only screen and (max-width : $screen-md - 1) {
        display: block;
    }
}

.left-nav__title-container {
    display: flex;
    justify-content: space-between;
}

.left-nav__link {
    margin-top: 16px;
    text-decoration: none;
    color: $gray-dark;
    font-size: 16px;
    transition: .2s ease;

    &:hover {
        color: $tango;
    }
}

.left-nav__link--active {
    color: $tango;
    border-left: 4px solid $tango;
    padding-left: 8px;
}

.left-nav__title {
    color: $gray-dark;
    letter-spacing: 1px;
}