@import '../../styles/variables';

.left-nav__container {
    // position sticky does not work in all browsers so some browsers will not see the sticky behavior
    position: sticky;
    top: 32px;
    align-self: flex-start;
    min-width: 200px;
    max-width: 200px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;

    /* mobile */
    @media only screen and (max-width : $screen-md - 1) {
        display: none;
    }
}

.left-nav__link {
    margin-top: 16px;
    text-decoration: none;
    color: $gray-dark;
    font-size: 16px;
    transition: .2s ease;

    &:hover {
        color: $tango;
    }
}

.left-nav__link--active {
    color: $tango;
    border-left: 4px solid $tango;
    padding-left: 8px;
}

.left-nav__title {
    color: $gray-dark;
    letter-spacing: 1px;
}