@import '../../styles/variables';

.home__container {
    border-left: 1px solid $gray-light;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    /* mobile */
    @media only screen and (max-width : $screen-md - 1) {
        border: none;
    }
}