@import '../../styles/variables';

.nav__outer-container {
    background: $gray-lightest;
    border-top: 10px solid $tango;
}

.nav__container {
    display: flex;
    height: 115px;
    line-height: 115px;
    justify-content: center;
}

.nav__title {
    font-size: 32px;
    letter-spacing: 1.5px;
    color: $gray-dark
}