@import '../../styles/variables';

.nav__outer-container {
    background: $gray-light;
}

.nav__container {
    height: 115px;
    line-height: 115px;
    justify-content: center;
}

.nav__logo {
    text-decoration: none;

    transition: .2s ease-out;

    &:hover,
    &:focus {
        color: $tango;
    }
}