@import '../../styles/variables';

.nav__outer-container {
    background: $gray-light;
}

.nav-container {
    height: 115px;
    line-height: 115px;
    justify-content: space-between;
}

.nav__logo {
    text-decoration: none;

    transition: .2s ease-out;

    &:hover,
    &:focus {
        color: $tango;
    }
}

.nav__group {
    list-style-type: none;
}

.nav__item {
    text-decoration: none;

    transition: .2s ease-in;

    &:hover,
    &:focus {
        color: $tango;
    }
}