@import '../../styles/variables';

.footer__container {
    height: 115px;
    background: $gray-lightest;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icon {
    color: rgba(240,109,33, .60);
}

.footer__text {
    color: $gray;
}