@import '../../styles/variables';

.book__container {
    display: flex;
    flex-direction: column;
    width: 132px;
}

.book__rank {
    margin-bottom: 16px;
    font-size: 18px;
    color: white;
    align-self: center;
    background: rgba(240,109,33, .60);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.book__image {
    height: 170px;
    max-width: 132px;
}

.book__name {
    color: $gray-dark;
}

.book__title {
    margin-top: 12px;
    color: $gray-dark;
}

.book__author {
    margin-top: 12px;
    font-style: italic;
}

.book__description {
    margin-top: 12px;
    color: $gray;
}